@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lobster');

html,
body {
    background-color: #f9fcf7;
    color: #3d3734;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    text-align: center;
    text-transform: none;
}

h1 {
    font-family: 'Lobster', cursive;
}
